@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Poppins:wght@100;300;400;800&display=swap");
@import url(https://db.onlinewebfonts.com/c/cbb8c3adcb3bdf83811d1855d8ccbab8?family=Capture+it+2);
@import url(https://db.onlinewebfonts.com/c/3effa1e3015e620486bae4f51e5e9f23?family=Capture+it);

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d2d5d5;
}

::selection {
  background-color: #421a43;
}

.logo {
  width: 95px;
  top: 25px;
  position: absolute;
  left: 35px;
}

header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 0.9rem 0;
  top: 0;
  left: 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #a262a2;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.social a {
  font-size: 1.5rem;
  padding: 0 3rem;
}

.hamburger a {
  font-size: 1.5rem;
  padding: 0 3rem;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* margin-top: 10rem; */

  background-image: url("./Helping-Hand-PHP-Project-main/img/Thrive\ Together\ ngo\ landing\ bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the alpha (0.5) to control darkness */
  z-index: 1;
}



.text-1 {
  position: relative;
  margin-top: 1.2rem;
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;

}

.text-1 h1 {
  margin-top: 8rem;
  font-size: 6rem;
  font-weight: 100;
}

.text-1 h2 {

  text-align: center;
  font-family: "Bayon", sans-serif;
  font-weight: 400;
  font-size: 4.1rem;
}

.social {
  position: absolute;
  top: 50px;
  right: 100px;
}

#explore {
  position: absolute;
  right: 150px;
}

/* @media (max-width: 767.98px) {
  .logo{
    width: 70px;
    left: 15px;
  }
  .text-1 h2 {
    text-align: center;
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-left: 65px;
    margin-top: 30px;
  }
  .fa-instagram:before {
    content: "\f16d";
    position: absolute;
    top: 55px;
    right: 5px;
}
#explore{
    position: absolute;
    top: 100px;
    right: 120px;
}
} */
@media (max-width: 1025px) {
  .logo {
    width: 70px;
    left: 15px;
  }

  .text-1 h2 {
    text-align: center;
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-left: -150px;
    margin-top: 30px;
  }

  .fa-instagram:before {
    content: "\f16d";
    position: absolute;
    top: -3px;
    right: 5px;
  }

  #explore {
    position: absolute;
    top: 40px;
    right: 120px;
  }

  .mainText {
    font-size: 120px;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 60px;
    left: 15px;
  }

  .text-1 h2 {
    text-align: center;
    font-family: "Bayon", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-left: 65px;
    margin-top: 30px;
  }

  .social {
    position: absolute;
    top: 92px;
    right: 50px;
  }

  #explore {
    position: absolute;
    top: 85px;
    right: 80px;
  }

  .mainText {
    font-size: 80px;
  }

  main {
    background-image: url("./Helping-Hand-PHP-Project-main/img/landing\ page\ grp\ vertical.JPG");
  }
}